.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	padding: 15px 0;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0);
}
h3 {
  color:  #000000;
  font-size: 2em;
}